@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Meow+Script&family=Montagu+Slab:wght@200&family=Nanum+Myeongjo&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    background-color: #232323;
}

h1{
    position: absolute;
    font-family: 'Montagu Slab', serif;
    font-size: 3vh;
    padding-left: 5%;
    padding-top: 3%;    
    color: white;
    letter-spacing: 5px;
}

h2{
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 10%; 
    left: 50%;
    transform: translate(-50%);
}

.head-nav-blok{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
    width: 31.5%;
    left: 65%;
    align-items: center;
    z-index: 2;
}

.head-element{
    font-size: 1.2em;
    border: 1px solid white;
    background-color: none;
    box-sizing: content-box;
    padding: 10px;
}

.head-element:hover{
    background-color: rgba(0,0,0,0.4);
}

.head-element a{
    color: white;
    font-family: sans-serif;
}

.container-1{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 70%;
    display: flex;
    transform: translate(-50%);
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
    text-align: justify;
    color: #818181;
}
.container-1 a{
    color: #818181;
    font-family:monospace;
    
}
.back-div{
    position: absolute; 
    height: 20%;
    top: 120%;  
    left: 5%;
}

a.back {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #232323;
    border: 1px solid white;
}
a.back:hover{
    color: #232323;
    background-color: white;
}

